[Unit]
Description=CONNAME container service
After=docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=DIRPATH
ExecStart==DIRPATH/run.sh
ExecStop=/usr/bin/docker stop CONNAME
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target